.landing-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .landing-header {
    margin-bottom: 20px;
  }
  
  .landing-header h1 {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .landing-header p {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    margin-bottom: -30px;
  }

  .landing-header hr {
    height: 3px;
    background-color: #333;
    border: none;
    margin-bottom: 20px;
  }
  
  .landing-content {
    margin-bottom: 20px;
    font-size: 1rem;
  }

  .landing-content hr {
    height: 3px;
    background-color: #333;
    border: none;
    margin: 0px auto;
  }
  
  .landing-footer {
    font-size: 0.875rem;
    color: #777;
  }

  .video-container {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
  }
  
  video {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adding a shadow */
  }
  
  .video-caption {
    margin-top: 0px;
    font-size: 1rem;
    color: #555;
  }

  .index-section {
    margin: 20px auto;
    max-width: 800px;
    text-align: left;
  }
  
  .index-section h2 {
    font-size: 1.75rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .index-list {
    list-style-type: disc;
    padding: 0;
  }
  
  .index-list li {
    margin-bottom: 20px;
  }
  
  .index-list h3 {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: -20px;
  }

  .index-list h4 {
    font-size: 1.25rem;
    margin-bottom: 10px;
    color: #777;
  }
  
  .index-list ul {
    list-style-type: circle;
    padding-left: 20px;
  }
  
  .index-list a {
    text-decoration: none;
    color: #0066cc;
  }
  
  .index-list a:hover {
    text-decoration: underline;
  }
  
  