.section5-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.section5-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.section5-header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.section5-header p {
  font-size: 1.25rem;
  font-weight: 400;
}

.back-to-home {
  position: absolute;
  left: 0;
  top: 35%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #007bff;
  text-decoration: none;
}

.back-to-home:hover {
  text-decoration: underline;
}

.section5-content {
  margin-top: 40px;
}

.section5-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.section5-table th,
.section5-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
  vertical-align: middle;
}

.section5-table th {
  background-color: #f4f4f4;
  font-weight: 600;
}

.section5-table img {
  width: 100%;
  height: auto;
}

.subtable {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Ensure even distribution of columns */
}

.subtable th,
.subtable td {
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  vertical-align: middle; /* Center content vertically within cells */
  height: 100%; /* Ensure cells fill the subtable's height */
}

.subtable td {
  background-color: #f9f9f9;
}

.subtable th {
  background-color: #f4f4f4;
  font-weight: 600;
}

.section5-table .subtable-container {
  padding: 0px;
}

.subtable audio {
  width: 100%; /* Make the audio player take up the full width of the cell */
  display: block; /* Ensure the audio player is treated as a block element */
}

.landing-footer {
  font-size: 0.875rem;
  color: #777;
}
